In [ ]:
# !pip install faker

Requirement already satisfied: faker in c:\users\playdata\anaconda3\envs\ml_env\lib\site-packages (37.8.0)
Requirement already satisfied: tzdata in c:\users\playdata\anaconda3\envs\ml_env\lib\site-packages (from faker) (2025.2)

# Faker
- 가상 데이터 생성

In [ ]:
from faker import Faker

fake = Faker()
print('이름 : ', fake.name())
print('주소 : ', fake.address())
print('텍스트 : ', fake.text())
print('이메일 : ', fake.email())
print('전화번호 : ', fake.phone_number())
print('랜덤 숫자 : ', fake.random_number())
print('랜덤 요소 : ', fake.random_element())

이름 :  Thomas Davis
주소 :  USCGC Kramer
FPO AP 35283
텍스트 :  Born hard mean house need world ten avoid. Not resource single finish time.
Security fire home cover day career against. Number on history argue house society.
이메일 :  margaret70@example.org
전화번호 :  219-383-1436
랜덤 숫자 :  755956669
랜덤 요소 :  b

In [100]:
print(fake.name())
print(fake.first_name() +",", fake.last_name())
print(fake.email())
print(fake.email())
print(fake.company())
print(fake.date_of_birth(minimum_age=18, maximum_age=65))

Timothy Collins
Miranda, Smith
hjenkins@example.com
williamsjames@example.com
Wiley-Webb
1977-05-10

In [115]:
import pandas as pd
import random
fake = Faker()

def generate_customer_data(n=1000):

    data = []

    for _ in range(n):
        age = fake.random_int(min=19, max=60)
        sub_months = fake.random_int(min=1, max=12)
        monthly_payment = round(random.uniform(10, 100), 2)
        usage_frequency = fake.random_int(min=1, max=30)
        stft_score = fake.random_int(min=0, max=5)
        churn = fake.boolean(chance_of_getting_true=30) # 30% 확률로 True -> 고객 이탈

        data.append([age, sub_months, monthly_payment, usage_frequency, stft_score, churn])

        columns = ["AGE", "SUB_MONTHS", "MONTHLY_PAYMENT", "USAGE_FREQ", "STFT", "CHURN"]

    return pd.DataFrame(data, columns=columns)

In [117]:
customer_df = generate_customer_data(200000)
customer_df

        AGE  SUB_MONTHS  MONTHLY_PAYMENT  USAGE_FREQ  STFT  CHURN
0        60          10            71.67          19     5   True
1        39           5            44.96           6     1  False
2        31          10            14.08          15     0  False
3        24           7            69.41          22     2  False
4        51           5            20.69          29     2   True
...     ...         ...              ...         ...   ...    ...
199995   40           2            58.29          13     4  False
199996   57           9            78.48           6     1   True
199997   22           9            77.32          28     5   True
199998   53           4            39.72          27     3   True
199999   52           6            91.15           3     4  False

[200000 rows x 6 columns]

In [118]:
customer_df.to_csv('customer_data.csv', index=False)

In [ ]:
# 다음시간 Deep Learning 기반의 추천 시스템
# 컨텐츠 기반의 추천 시스템
# 회귀 기반의 추천 시스템